<div class="page-header">
  <div class="container">
    <h1>Pets</h1>
  </div>
</div>

<div class="container">
  <div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="this.dataSource" class="">

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'MM-dd-yyyy'}} </td>
      </ng-container>

      <!-- Owner First Name Column -->
      <ng-container matColumnDef="ownerFirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.owner.firstName}} </td>
      </ng-container>

      <!-- Owner Last Name Column -->
      <ng-container matColumnDef="ownerLastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.owner.lastName}} </td>
      </ng-container>

      <!-- Animal Type Column -->
      <ng-container matColumnDef="animalType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Animal Type </th>
        <td mat-cell *matCellDef="let element"> {{element.animalType.name}} </td>
      </ng-container>

      <!-- Edit Column -->
      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/pets', element.id]">
            <mat-icon color="primary" fontIcon="edit"></mat-icon>
          </a>
        </td>
      </ng-container> -->



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>
</div>
